*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #3c3c3c;
    color: #efe9e9;
    line-height: 1.6;
}
header{
    text-align: center;
    height: 350px;
    padding-left: 50px;
    border-radius: 15px 15px 0 0;
    background-image: url("images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ProfPic {
    align-content: center;
    border-radius: 50%;
    margin-top: 100px;
    position: absolute;
    top: 20px;
    right: 60px;
}

#logo {
    float: left;
    width: 100px;
    height: 100px;
    padding-left: 40px;
}
header h1{
    padding: 25px;
    font-size: medium;
    float: right;
    color: #ffffff;
}

.menu{
    padding-top: 10px;
    text-align: center;
    height: 30px;
    width: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 15px;
}

.menu ul li a {
    color: #dfdfdf;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0;
}
.dropdown .dropbtn {
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: bottom;
    background-color: #100f0f;
    min-width: 120px;
    top: 25px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 10px 0;
    z-index: 100;
}
.dropdown-content a {
    color: #ddd;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.dropdown-content a:hover {
    background-color: #2f2f2f;
    color: #fffdfd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
main{
    margin-right: 500px;
    margin-left: 100px;
    position: absolute;
    top: 180px;
    left: 20px;
    font-size: larger;
    z-index: 10;

}

.propos{
    text-align: justify;
}
h2{
    font-size:300%;
    color: #7e79dd;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 10;
}
h3{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 150%;
}
.social{
    padding-top: 40px;
    position: relative;
    margin: center;
}
:visited{
    color: antiquewhite;
}

/*page2*/
header h2{
    font-size: 300%;
    color: #7e79dd;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 0px;
    z-index: 10;
}

.competences-nav{
    padding-top: 0px;
    text-align: center;
    width: 200%;
}

.competences-nav ul {
    list-style: none;
    display: flex;
    gap: 95px;
    padding: 15px;
}
.competences-nav ul li a{
    color: #efe9e9;
    text-decoration: none;
}
.competences-nav ul li a:hover{
    color: #7e79dd;
}

.pages{
    position: absolute;
    top: 200px;
    padding-bottom: 80px;
    
}

.tab-content , .block , .education-card , .subsections{
    background: rgb(92, 91, 91);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
    width: 1170px;
    margin-bottom: 10px;
}

.tab-content h2 {
    color: rgb(208, 220, 252);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill {
    margin-bottom: 20px;
}

.skill-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 500;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #fafafb;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #172c67;
    border-radius: 10px;
    transition: width 0.6s ease-in-out;
}

.title-line {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.title-line h3 {
    margin: 0;
}

.title-line h5 {
    margin: 0;
    font-weight: normal;
}

a   {
    color: #efe9e9;
}
a:hover{
    color:#7e79dd
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background: #1f1f1f;
    color: white;
    z-index: 100;
}
/*parcoursAca*/
.education-card , .subsections{
    background: #fff;
    border-radius: 12px;
    padding: 25px;
    margin: 20px 0;
    border-left: 5px solid #1e40af; /* Bleu */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.education-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.edu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edu-header h3 {
    margin: 0;
    color: #1e3a8a;
    font-size: 22px;
    font-weight: 700;
}

.badge {
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
}

.badge.blue {
    background: #e0e7ff;
    color: #1e40af;
}

.badge.gray {
    background: #e5e7eb;
    color: #374151;
}

.edu-info {
    margin: 8px 0;
    color: #555;
    font-size: 14px;
}

.edu-info .dot {
    margin: 0 6px;
}

.education-card p {
    margin-top: 10px;
    color: #444;
    line-height: 1.5;
    font-size: 15px;
}
.sections h3 {
    
    font-family: 'Georgia', serif; 
    font-size: 30px; 
    font-weight: bold; 
    color: #e0e0e0; 
    border-left: 5px solid #0056b3;
    padding-left: 15px;
    margin-top: 20px; 
}
.subsections {
    color: #251948;
    margin-top: 5px;
    padding-top: 5px;
}
.subsections ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.subsections ul li a{
    text-decoration: none;
    color: #251948;
}

.subsections ul li a:hover{
    color: #0056b3;
}
.passion {
    box-shadow: 5px 10px 5px black;
    position: relative; 
    width: 500px; 
    height: 400px;
    overflow: hidden; 
}

.passion img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.passionTitle{
    position: absolute;
    top: 0;      
    left: 0;     
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.passion:hover .passionTitle {
    opacity: 1; 
}
.photos {
    position: absolute;
    top: 200px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 250px;
}

.event {
    box-shadow: 5px 10px 5px black;
    position: relative; 
    width: 350px; 
    height: 350px;
    overflow: hidden; 
}

.event img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.eventTitle{
    position: absolute;
    top: 0;      
    left: 0;     
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.event:hover .eventTitle {
    opacity: 1; 
}
.eventphotos {
    position: absolute;
    top: 200px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 60px;
}


.main-layout {
    
    background: rgb(92, 91, 91);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
    width: 1170px;
    margin-bottom: 10px;

    display: flex; 
    gap: 30px; 
    padding: 20px;
    margin: 0 auto; 
    font-family: sans-serif;
}

.left-column {
    flex: 1.5; 
    padding-right: 20px;
    border-right: 1px solid #eee; 
}

.right-column {
    flex: 1; 
}
.testimonial {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ddd5d5;
    margin-bottom: 25px;
    padding: 0;
    border-left: none; 
}

.author-info strong {
    font-size: 1.1rem;
    color: #333;
    display: block;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: right;
    margin-right: 100px;
}
.author-info small {
    color: #888;    
    display: block;
    margin-top: 0px;
    text-align: right;
    margin-right: 30px;
}
.right-column h2 {
    color: #004d99; 
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.key-points-list {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.key-points-list li {
    background-color: #ffffff;
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    padding: 15px;
    margin-bottom: 12px;
    
    position: relative;
    padding-left: 35px; 
    color: #333;
    font-weight: 500;
}

.key-points-list li::before {
    content: ""; 
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px; 
    height: 6px;
    background-color: #004d99; 
    border-radius: 50%;
}

.contact-form {
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
    width: 1170px;
    margin-bottom: 10px;
    
    background-color: #fff; 
}

h1 {
    font-size: 1.5rem;
    color: #352a55;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block; 
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-sizing: border-box; 
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #007bff; 
    outline: none; 
}

textarea {
    resize: vertical; 
}

.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3; 
}

.submit-button .icon {
    margin-right: 10px; 
    font-size: 1.2rem;
}
.question-container{
    position: absolute;
    top: 200px;
    
}
.question {
    background: rgb(177, 176, 176);
    padding: 30px;
    border-radius: 12px;
    width: 1170px;
    margin-bottom: 10px;
    padding-top: 1px;
}


.question h6 {
    font-size: 1.5rem;
    color: #352a55;
    margin-bottom: 10px;
    margin-top: 30px;
}
.radio{
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio input[type="radio"] {
    margin-right: 10px;
}
.question-container{
    list-style: none;
}
.quizz{
    margin-bottom: 800px;
    display: block;
    unicode-bidi: isolate;
}
#submitQuiz {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.1rem;
        position: absolute;
        bottom: 200px;
        margin-bottom: 20px;
}

.correct { border: 2px solid green; }
.incorrect { border: 2px solid red; }